/******************************/
/*       Navbar Styling      */
/****************************/
nav {
    background: $hoth-blue !important;

    a {
        color: $hoth-ice !important;
    }
    /* Push links down to align w. logo */
    .navbar-nav {
        li:hover {
            background: $hoth-dark-blue !important;
            transition: background 0.5s linear;
        }

        a {
            font-size: 28px;
            letter-spacing: 0.05em;
            font-weight: normal;
            line-height: 80px;
            margin-top: 5px;
            padding-bottom: 0;
        }
    }

    .soc-icons {
        color: $hoth-ice;
        margin-right: 31px;
        margin-top: 38px;
        list-style: none;
        li {
          height: 100%;
          display: inline;
        }

        i {
            padding-left: 10px;
        }
    }
}
/* teams row in eyebrow navbar*/
.teams-row {
    position: fixed;
    background: $hoth-ice !important;
    top: 0;
    height: 35px;
    z-index: 9999;
    width: 100%;

    .eyebrow-header {
      text-transform: uppercase;
      font-size: 12px;
    }

    .teams-list {
        list-style: none;
        padding-top: 8px;

        li {
            display: inline;
        }
    }
}
/* remove navbar inverse border */
.navbar-inverse {
    border: 0 !important;
}
/* styling for navbar logo */
.navbar-brand {
    height: 100px !important;
    padding: 10;

    img {
        height: 80px;
    }
}
